* {
  box-sizing: border-box;
  max-width: 100%;
}
.icon {
  opacity: 0.5;
  height: 15px;
  width: auto;
  margin-right: 10px;
}
.icon:hover {
  opacity: 1;
}
html,
body {
  background-color: #333333;
  width: 500px;
  font-family: monospace;
  padding: 0px 5px 0 5px;
  box-sizing: border-box;
  margin: auto;
  color: #333333;
}
button[disabled=disabled],
button:disabled {
  opacity: 0.2;
}
a:link,
a:visited {
  color: inherit;
}
.vote {
  clear: both;
  width: 10%;
  text-align: center;
  float: right;
}
#chat li {
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-bottom: 20px;
  display: block;
  list-style: none;
}
#chat li:last-child {
  margin-bottom: 0px;
}
ul#chat {
  z-index: 0;
  margin: 0 0 10px 0;
  width: 100%;
  padding: 0px;
  padding-top: 110px;
  overflow-y: scroll;
  max-height: calc(100vh - 220px);
}
#postmessage {
  margin: 0px;
  height: 100px;
}
#postmessage textarea {
  height: 70%
}
#postmessage button {
  height: 30%;
  border: solid #333333;
  border-width: 4px 0 0 0;
  outline: 0px;
  background-color: white;
  color: #333333;
  font-family: georgia;
  text-transform: uppercase;
  font-size: 80%;
  cursor: pointer;
}
#tag-container {
  z-index: 1;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: center;
}
.tagsinput {
  opacity: 0.95;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  max-width: 500px;
  display: inline-block;
}
.message-date {
  color: grey;
  font-size: 50%;
}
.message-tag {
  font-style: italic;
}
.message-context {
  font-size: 70%;
  padding-top: 10px;
}
.message-author {
  font-size: 70%;
  font-weight: bold;
}
.message {
  line-height: 1.3em;
  font-family: georgia;
  padding: 10px 0 10px 0;
  width: 85%;
  font-size: 1.2em;
}
input,
textarea {
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
}
button {
  display: block;
  width: 100%;
}
