* {
  box-sizing: border-box;
  max-width: 100%;
}
html,
body {
  background-color: #333333;
  width: 500px;
  font-family: monospace;
  padding: 0px;
  margin: auto;
  color: #333333;
}
button[disabled=disabled],
button:disabled {
  opacity: 0.2;
}
a:link,
a:visited {
  color: inherit;
}
#vote {
  clear: both;
  width: 10%;
  text-align: center;
  float: right;
}
#chat li {
  background-color: white;
  padding: 10px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding-bottom: 20px;
  display: block;
  list-style: none;
}
ul#chat {
  margin: 0px;
  margin-top: 110px;
  overflow-y: scroll;
  padding: 5px 0 5px 0;
  max-height: calc(100vh - 200px);
}
#postmessage {
  height: 70px;
}
#postmessage textarea {
  height: 70%
}
#postmessage button {
  height: 30%;
}
#chat li:nth-child(odd) .message-content {
  border-style: solid;
  border-width: 1px;
}
#chat li:nth-child(even) .message-content {
  border-style: solid;
  border-width: 0px 1px 0px 1px;
}
#tag-container {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  text-align: center;
}
.tagsinput {
  max-width: 500px;
  display: inline-block;
}
.message-info {
  font-size: 50%;
}
.message-author {
  font-weight: bold;
}
.message {
  line-height: 1.3em;
  font-family: georgia;
  padding: 10px 0 10px 0;
  width: 85%;
  font-size: 1.2em;
}
input,
textarea {
  padding: 0.5em;
  box-sizing: border-box;
  width: 100%;
  font-size: 1em;
}
button {
  display: block;
  width: 100%;
}
